<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMLq3E163p0WuUB-XBjE_mqye6vfCwC7g</string>
	<key>GCM_SENDER_ID</key>
	<string>767117199089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRedditClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-48257</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-48257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767117199089:ios:1ac61fff7b04abe1f9cb50</string>
</dict>
</plist>